$blue: #2695FF;
$navtext: #F8FCFF;
$grey: #CCCCCC;
body {
    // padding: 10px;
    // font-family: 'Helvetica Neue';
    width: 100vw;
}
*{
    margin: 0;
    padding: 0;
}
.logo{
    width: 8rem;
    height: 6rem;
    margin: 0.5rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        width: 5rem;
        height: 2rem;
    }
}
.nav-link{
    color: $navtext;
}
.nav-link:hover{
    color: rgb(241, 234, 234);
}
.nav{
    padding: 0.8rem 2rem;
}
.navItem{
    align-self: flex-start;
  .nav-link{
    font-weight: bold;
  }
}
#navbarNav{
    background-color: $blue;
    display: flex;
    justify-content: space-between;
    .navEnd{
        padding-right: 4rem;
    }
}
.signedInUser{
    font-style: italic;
}
.heading{
    margin: 1rem 0rem;
    text-align: center;
    font-weight: bold;
    font-size: 2.5rem;

}
.hammer{
    
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
    img{
        height: 40px;
        width: 40px;
    }
}
.line{
    
    width: 15rem;
    height: 2px;
    background-color: $grey;
}
.required{
    color: red;
}
.formContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.form{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.adjustBtn{
    padding: 0.7rem 5rem;
}
.btnDiv{
    margin: 1rem 0rem;
    width: 60%;
}
.item{
    height: 30rem;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.item{
    margin: 2rem 1rem;
}
.picture{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60%;
        img{
            width: 80%;
            height: 80%;
        }
    
}
.title{
    border-top: 1px solid $grey;
    color: #484848;
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    p{
        margin-top: 0.5rem;
        color: black;
        font-weight: bold;
        span{
            color: $blue;
            font-weight: normal;
        }
    }
    h4:hover{
        cursor: pointer;
        color: $blue;
    }
}
.description{
    height: 6rem;
    overflow: hidden;
    padding: 0rem 1rem;
    text-align: justify;
}
.aHover{
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}
.itemContainer{
    margin: 2rem 1rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    // flex-direction: row;
    .picture{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        height: 20rem;
        width: 30rem;
        img{
            width: 90%;
            height: 90%;
            border-radius: 1rem;
        }
    }
    .description{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

        height: 100%;
        h3{
            margin-top: 1rem;
        }
    }
}
.btnWatch{
    margin-left: 2rem;
}
.alert-info{
    margin-top: 2rem;
}