{% extends 'auctions/layout.html' %}
{% load static %}
{% block title %}
    {{auctionList.title}}-Listing
{% endblock %}
{% block body %}
    <h2 class="heading">Listing: {{auctionList.title}}</h2>
    <div class="hammer">
        <div class="line"></div>
        <img src="{% static 'auctions/Pictures/hammer.png' %}" alt="image">
        <div class="line"></div>
    </div>
    
    <form class="inline" action="{% url 'auctions:watchList' auctionList.id%}" method="post">
        {% csrf_token %}
        {% if isWatchListItem %}
        <input type="submit" class="btn btn-outline-danger btnWatch" value="Remove from WatchList"></input>
        {% else %}
            <input type="submit" class="btn btn-outline-primary btnWatch" value="Add To WatchList"></input>
        {% endif %}
    </form>
    {% if isOwner and auctionList.isActive %}
        <form class="inline" action="{% url 'auctions:item' auctionList.id%}" method="post">
            {% csrf_token %}
            <input type="submit" class="btn btn-outline-warning" value="Close Biding">
        </form>
    {% endif %}
        <div class="picContainer">
            {% if auctionList.image %}
            <img src="{{auctionList.image.url}}" alt="image">
            {% endif %}
        </div>
        <div class="desc">
            <h3>Description</h3>
            {{auctionList.description}}
        </div>
        <div class="price">
           Current Bid :
           {% if highestBid %} 
           {{highestBid}}$
           {% else %}
           {{auctionList.initialBid}}$
           {% endif %}

        </div>
        {% if message %}
        <div class="alert alert-danger">
            {{message}}
        </div>
        {% endif %}
        {% if isWinner %}
        <div class="alert alert-success">
            Congratulation! You Won The Auction.
        </div>
        {% endif %}
        {% if auctionList.isActive and not isOwner%}
        <form class="bidForm" action="{% url 'auctions:item' auctionList.id%}" method="post">
            {% csrf_token %}
            <input type="number" name="bidInput" class="form-control" placeholder="Bid" min="{{highestBid}}">
            <input type="submit" class="btn btn-primary" value="Place Bid">
        </form>
        {% endif %}
        <div class="detail">
            <h3>Details</h3>
            <ul>
                <li>Listed by: <span>{{auctionList.owner.username}}</span></li>
                <li>Category: <span>{{auctionList.get_category_full_name}}</span></li>
                <li>Initial Bid: <span>{{auctionList.initialBid}}$</span></li>
                <li>Total no(s) of Bid(s): <span>{{noOfBids}}</span></li>
                <li>Listing Status: <span>{{status}}</span></li>
            </ul>
        </div>
        <h2 class="heading">Comments Section</h2>
        <form class="bidForm" action="{%url 'auctions:item' auctionList.id%}" method="post">
            {% csrf_token %}
            {{ commentForm }}
            <input type="submit" name="comment_submit" class="btn btn-primary" value="Comment">
        </form>
        {% if comments %}
        <div class="commentContainer">
            {% for comment in comments %}
            <div class="card bg-light mb-3">
                <div class="card-body">
                  <h5 class="card-title">{{comment.commentor}}</h5>
                  <p class="card-text">{{comment.Comment}}</p>
                </div>
              </div>
            {% endfor %}
        </div>
        {% endif %}
{% endblock%}